<div class="container jumbotron">
  <div class="flex-container">
    <div>
      <h3>Wpisz tłumaczenie</h3>
      <h4 class="object"><%= @answer.polish %></h4>
      <input onclick='responsiveVoice.speak("<%= @answer.english %>");'
      type='button' value='🔊' class="btn btn-primary btn-sm object" id="hidden_sound" />
      <br /><br />
      <%= form_tag words_repetition_index_path, method: "GET" do %>
        <%= hidden_field_tag :answer, @answer.english %>
        <%= hidden_field_tag :packet_id, @answer.packet_id %>
        <%= hidden_field_tag :correctness, "" %>
        <%= hidden_field_tag :how_many, @how_many %>
        <%= text_field_tag :guess, "", size: 20, class: "object" %>
        <%= button_tag "sprawdź", class: "btn btn-primary btn-sm object",
        onclick: "check_type_5()", id: "js_activation_button" %>
        <%= submit_tag "Dalej", class: "next_after_check btn btn-primary btn-sm object" %>
        <p id="feedback_info" class="object"></p>
        <br />
      <% end %>
    </div>
  </div>
  <br />
  <p class="to_right"><%= link_to "Przerwij", packet_words_path(@packet_id), class: "btn btn-primary btn-md" %></p>
</div>
