<table class="flex-container table">
  <tr>
    <td><%= f.label :polish, "po polsku" %></td>
    <td><%= f.text_field :polish %></td>
  </tr>
  <tr>
    <td><%= f.label :english, "po angielsku" %></td>
    <td><%= f.text_field :english %></td>
  </tr>
  <tr>
    <td><%= f.label :polish_synonyms, "polskie synonimy" %></td>
    <td><%= f.text_field :polish_synonyms %></td>
  </tr>
  <tr>
    <td><%= f.label :english_synonyms, "angielskie synonimy" %></td>
    <td><%= f.text_field :english_synonyms %></td>
  </tr>
  <tr>
    <td><%= f.label :sample_sentence, "przykładowe zdanie" %></td>
    <td><%= f.text_field :sample_sentence %></td>
  </tr>
  <tr>
    <td><%= f.submit order, class: "btn btn-primary btn-sm" %></td>
    <td><%= link_to "Anuluj", packet_words_path(@word.packet_id), class: "btn btn-primary btn-sm" %></td>
  </tr>
</table>
