<h2>Wpisz tłumaczenie</h2>
<%= @answer.polish %>
<%= form_tag manager, method: "GET" do %>
  <%= text_field_tag :guess %>
  <%= hidden_field_tag :index, params[:index] %>
  <%= hidden_field_tag :answer, @answer.english %>
  <%= hidden_field_tag :type, params[:type] %>
  <%= hidden_field_tag :correctness, "" %>
  <%= button_tag "sprawdź", onclick: "check_type_5()", id: "js_activation_button" %>
  <p id="feedback_info"></p>
  <%= submit_tag "Dalej", class: "next_after_check" %>
<% end %>
