Jeste aktualnie w paczce s贸wek: <%= @packet.name %>
<button><%= link_to "Zmie paczk", user_packets_path(current_user) %></button><br>

<% if @packet.words.any? %>
  <table>
    <tr>
      <th><%= link_to "Lp", packet_words_path(params[:packet_id], order: "id")%></th>
      <th><%= link_to "angielski", packet_words_path(params[:packet_id], order: "english")%></th>
      <th><%= link_to "polski", packet_words_path(params[:packet_id], order: "polish")%></th>
      <th>angielskie synonimy</th>
      <th>d藕wik</th>
      <th> polskie synonimy</th>
      <th>akcja</th>
    </tr>
    <% @words.each_with_index do |word, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= word.english %></td>
      <td><%= word.polish %></td>
      <td><%= word.english_synonyms %></td>
      <td><input onclick='responsiveVoice.speak("<%= word.english %>");' type='button' value=' Play' /></td>
      <td><%= word.polish_synonyms %></td>
      <td>
        <%= link_to "edytuj", edit_word_path(word.id) %>
        <%= link_to "usu", word_path(word.id), method: "delete", data: { confirm: "Jeste pewien, 偶e chcesz usun sowo z paczki?" } %>
      </td>
    </tr>
    <% end %>
  </table>
  
  <% if @words.count < 10 %>
    <p> Aby skorzysta z funkcji nauki w paczce musi si znajdowa co najmniej 10 s贸wek.</p>
  <% else %>
  <button><%= link_to "ucz si nowych sowek", "#", onclick: "show_form(#{"how_many_form"})", class: "show_or_hide_form" %></button>
    <div id="how_many_form">
      <%= form_tag words_learning_session_index_path(packet_id: params[:packet_id]) do %>
        <%= label_tag :how_many, "Jak du偶o?" %>
        <%= text_field_tag :how_many %>
        <%= submit_tag "Do nauki!" %>
        <%= link_to "Anuluj", "#", onclick: "hide_form(#{"how_many_form"})", class: "show_or_hide_form" %>
      <% end %>
    </div>
  <% end %>

  <% if @repetitions.any? %>
    <% number = @repetitions.count %>
  <% else %>
    <% number = "brak" %>
    <p id="disactivate"></p>
  <% end %>
  <button><%= link_to "powt贸rki na dzi(#{number})", ask_words_repetition_path(@word_id), id: "repetition_button" %></button>
<% else %>
  Paczka <%= @packet.name %> nie ma jeszcze 偶adnych s贸w.
<% end %>
<button><%= link_to "dodaj sowo", new_packet_word_path(params[:packet_id]) %></button>
