Jesteś aktualnie w paczce słówek: <%= @packet.name %>
<button><%= link_to "Zmień paczkę", user_packets_path(params[:user_id]) %></button><br>

<%#= radio_button_tag  %>
<% if @packet.words.any? %>
  <table>
    <tr>
      <th><%= link_to "angielski", user_packet_words_path(params[:user_id], params[:packet_id], order: "english")%></th>
      <th><%= link_to "polski", user_packet_words_path(params[:user_id], params[:packet_id], order: "polish")%></th>
      <th>angielskie synonimy</th>
      <th>dźwięk</th>
      <th> polskie synonimy</th>
      <th>akcja</th>
    </tr>
    <% @words.each do |word| %>
    <tr>
      <td><%= word.english %></td>
      <td><%= word.polish %></td>
      <td><%= word.english_synonyms %></td>
      <td><input onclick='responsiveVoice.speak("<%= word.english %>");' type='button' value='🔊 Play' /></td>
      <td><%= word.polish_synonyms %></td>
      <td>
        <%= link_to "edytuj", edit_user_packet_word_path(params[:user_id], params[:packet_id], id: word.id) %>
        <%= link_to "usuń", user_packet_word_path(params[:user_id], params[:packet_id], id: word.id), method: "delete", data: { confirm: "Jesteś pewien, że chcesz usunąć słowo z paczki?" } %>
      </td>
    </tr>
    <% end %>
  </table>
  <button><%= link_to "ucz się nowych słowek", "#", onclick: "show_form(#{"how_many_form"})", class: "show_or_hide_form" %></button>
  <%= form_tag user_packet_words_learning_session_index_path(params[:user_id], params[:packet_id]), id: "how_many_form"  do %>
    <%= label_tag :how_many, "Jak dużo?" %>
    <%= text_field_tag :how_many %>
    <%= submit_tag "Do nauki!" %>
    <%= link_to "Anuluj", "#", onclick: "hide_form(#{"how_many_form"})", class: "show_or_hide_form" %>
  <% end %>
  <button><%= link_to "powtórki na dziś", '#' %></button>
<% else %>
  Paczka <%= @packet.name %> nie ma jeszcze żadnych słów.
<% end %>
<button><%= link_to "dodaj słowo", new_user_packet_word_path(params[:user_id], params[:packet_id]) %></button>
