<div class="container jumbotron">
  <div class="flex-container">
    <div>
      <h3 class="object">Wpisz usłyszane słowa</h3>
      <input class="object btn btn-primary btn-sm" onclick='responsiveVoice.speak("<%= @answer.english %>");'
      type='button' value='🔊 Odtwórz' id='autoplay' />
    </div>
    <div>
      <%= form_tag manager_words_learning_session_path(params[:id]), method: "GET" do %>
        <%= hidden_field_tag :index, params[:index] %>
        <%= hidden_field_tag :answer, @answer.english %>
        <%= hidden_field_tag :type, params[:type] %>
        <%= hidden_field_tag :correctness, "" %>
        <%= text_field_tag :guess, "", size: 20, class: "object" %>
        <%= button_tag "sprawdź", class: "btn btn-primary btn-sm object",
        onclick: "check_type_4()", id: "js_activation_button" %>
        <%= submit_tag "Dalej", class: "next_after_check btn btn-primary btn-sm object" %>
        <p id="feedback_info" class="object"></p>
        <br />
      <% end %>
    </div>
  </div>
  <%= render "back_button" %>
</div>
