<!DOCTYPE html>
<html>
  <head>
    <title>English</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
  </head>
  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-sm bg-mine">
        <span class="navbar-brand">Jesteś zalogowany jako <%= current_user.email %></span>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to('Wyloguj', destroy_user_session_path, method: :delete, class: "nav-link active") %>
          </li>
        </ul>
      </nav>
    <% end %>
    <% if notice || alert %>
    <div class="container">
      <div class="alert alert-info allert-dismissable" align="center">
        <a id= "x" href="#" class="close" data-dismiss="alert" aria-label="close">&#9747;</a>
        <%= notice %>
        <%= alert %>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
